{% load crispy_forms_tags %}
{% load static %}

<h2>Add users to group: {{project.title}}</h2>
<hr>

<div class="row">
  <div class="col">
    <form method="post" action="/search-ldap" id="post-form">
      {% csrf_token %}
      {{ user_search_form|crispy }}
      <button id="search-button" type="submit" class="btn btn-success btn-block"><i class="fas fa-search" aria-hidden="true"></i> Search</button>
    </form>
  </div>
</div>

<br>
<div class="row">
  <div class="col" id="search_results">
      <div class="card border-light">
        <div class="card-body">
          <div id="search_results_inner"></div>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col" id="selected_users">
      <div class="card border-light">
        <div class="card-body">
        </div>
      </div>
  </div>
</div>
