{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h2>RDF Allocation Request</h2>
      </div>
      <div class="card-body">
        <form method="post"
              id="allocation_form"
              departments-url="{% url 'imperial_coldfront_plugin:load_departments' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="mt-4">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});

$("#id_faculty").change(function () {
      var url = $("#allocation_form").attr("departments-url");
      var faculty = $(this).val();

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request
        data: {
          'faculty': faculty         // add the faculty to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_departments` view function
          $("#id_department").html(data);  // replace the contents of the department input with the data that came from the server
        }
      });

    });

    window.onload = function() {
        $('#id_faculty').trigger('change');
};

  </script>
{% endblock content %}
