{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h2>RDF Allocation Request</h2>
      </div>
      <div class="card-body">
        <form method="post"
              id="allocation_form"
              departments-url="{% url 'imperial_coldfront_plugin:load_departments' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="mt-4">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    // Enable Select2 for the select elements
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});

  </script>
{% endblock content %}
