name: Test and build

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version: ['3.11']

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{matrix.python-version}}
          cache: pip
      - name: Install dependencies
        run: pip install -r dev-requirements.txt && pip install -e .

      - name: Check makemigrations file
        run: python makemigrations.py --help
      - name: Run tests
        run: pytest

      - name: Install doc dependencies
        run: pip install -r doc-requirements.txt

      - name: Check that documentation builds cleanly with MkDocs
        if: matrix.os == 'ubuntu-latest'
        run: mkdocs build --strict
